.Report {
    width: 30vw;
    border-radius: 6px;
    background-color: #fff;        /* white background */
    border: 2px solid #e0e0e0;     /* subtle border */
    box-shadow: 0px 10px 30px 5px rgba(0, 0, 0, .15);
    margin: 10px 10px auto;
    border-radius: 8px;
}

/* Table header */
.Report thead > tr > th {
    height: 50px;
    text-align: left;
    background-color: #adbfee;     /* light gray header */
    font-weight: 600;
    text-transform: capitalize;
    color: #333;
    border-bottom: 2px solid #d9d9d9;
    font-size: 20px;
    font-weight: bold;
    border-radius: 4px;
}

/* Table rows */
.Report tbody > tr > td {
  padding: 3px 6px;
  border-bottom: 1px solid #f0f0f0;
  font-size: 16px;
  border-radius: 4px;
}

/* Hover effect on rows */
.Report tbody > tr:hover > td {
  background-color: #d0cfcf;
}

Report tBody tr:nth-child(even){
    background-color: rgb(238, 243, 251);
}

.TitleRep{
    display: flex;
    flex-direction: column;
    margin: auto;
    color: rgb(73, 73, 223);
    align-items: left;
    font-size: 40px;
    font-weight: bold;
    padding: 30px 20px 40px 10px;
}

.Total{
    display: flex;
    flex-direction: column;
    margin: auto;
    color: rgb(73, 73, 223);
    align-items: left;
    font-size: 30px;
    font-weight: bold;
    padding: 5px;
}

.BalanceSheet{
    margin: auto;
    color: rgb(102, 102, 248);
    align-items: start;
    font-size: 30px;
    padding: 5px;
}