.AppHeader{
  display: flex;
  height: 100px;
  justify-content: space-between;
  align-items: center;
  padding: 4px 20px 4px 12px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  background-color: rgb(42, 98, 98);
  font-size: 40px;
}

.AppFooter{
  display: flex;
  height: 50px;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  background-color: rgb(42, 98, 98);
  color: #fff;
  font-size: 20px;
}

.AppRoutes{
  display: flex;
  flex-direction: column;
  width: 90vw;
  height: 90vh;
  
}

.PageContent{
  display: flex;
  padding: 0;
}

.SideMenu{
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  background-color: rgb(180, 182, 182);
  width: 300px;
  height: 90vh;
}